@import 'config';

*{
    box-sizing: border-box;   
}

body {
    @include background;
    background: lighten($secondary-color, 30);
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-header {
        font-size: 6rem;
    }

    &.sm-header {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

// Menu Bar Styling
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(darken($secondary-color, 4), 1);
    border-bottom: solid $quaternary-color 3px;
}

.menu {
    overflow: hidden;
    top: 0;
    float: right;
    padding: 10px 0;

    a {
        float: left;
        display: block;
        text-align: center;
        padding: 0 15px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: set-text-color($primary-color);

        &.current {
            color: $tertiary-color;
            font-weight: 400;
        }

        &:hover {
            color: $tertiary-color;
            @include easeOut;
        }
    }
}

// General Styling
.text-secondary {
    color: $quaternary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;
    
        a {
            padding: 0.4rem;
    
            &:hover {
                color: darken($primary-color, 8);
                @include easeOut;
            }
        }
    }

    &#home{
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

//Resume Page Styling
.download-link {
    padding: 0.4rem;

    &:hover {
        color: darken($primary-color, 12);
        @include easeOut;
    }
}

.basic-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bio-image bio'
    'eduheader eduheader'
    'school1 school2'
    'jobheader jobheader'
    'job1 job2'
    'expheader expheader'
    'exp1 exp2'
    'exp3 exp3';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .bio-image {
        grid-area: bio-image;
        margin: auto;
        border-radius: 50%;
        border: 3px solid $quaternary-color;
    }

    .profile {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .education-header {
        grid-area: eduheader;
        background: lighten($primary-color, 5);
        font-size: 1.5rem;
    }

    .school-1 {
        grid-area: school1;
    }

    .school-2 {
        grid-area: school2;
    }

    .work-header {
        grid-area: jobheader;
        background: lighten($primary-color, 5);
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .experience-header {
        grid-area: expheader;
        background: lighten($primary-color, 5);
        font-size: 1.5rem;
    }

    .experience-1 {
        grid-area: exp1;
    }

    .experience-2 {
        grid-area: exp2;
    }

    .experience-3 {
        grid-area: exp3;
    }
}

//Projects Page Styling
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;

    img {
        width: 100%;
        border: 3px solid #ffffff;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

//Contact Page
.boxes {
    display: grid;
    grid-template-areas:
    'email-header   blank'
    'email  blank'
    'phone-header   blank'
    'phone  blank'
    'mail-header    blank'
    'mail   blank';
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    font-size: 30px;

    .email-header {
        grid-area: email-header;
        border-bottom: solid 3px rgba(darken($secondary-color, 4), 1);
        font-weight: 500;
    }

    .email {
        grid-area: email;
        padding-bottom: 1rem;
    }

    .phone-header {
        grid-area: phone-header;
        border-bottom: solid 3px rgba(darken($secondary-color, 4), 1);
        font-weight: 500;
    }
    
    .phone {
        grid-area: phone;
        padding-bottom: 1rem;
    }
    
    .mail-header {
        grid-area: mail-header;
        border-bottom: solid 3px rgba(darken($secondary-color, 4), 1);
        font-weight: 500;
    }
    
    .mail {
        grid-area: mail;
        padding-bottom: 1rem;
    }
    

}



// BUtton styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 15);
    color: #ffffff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: $primary-color;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: rgba(darken($secondary-color, 4), 1);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';